* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: black;
  color: white;
}

h1 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  text-decoration: underline;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 50px;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 50px;
  color: white;
}